#!/usr/bin/env bash

__is_pkg_installed() {
	command -v "$1" > /dev/null 2>&1
}

# Terminal
alias c="clear"

# Git
alias g="git"
alias gl="git log -1 --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -1"
alias gll="git log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
alias gs="git status"
alias gcan="git commit --amend --no-edit"
alias gcm="git commit -m"
alias gcrm="git commit --reuse-message=ORIG_HEAD"
alias gad="git add ."
alias gp="git push"

if __is_pkg_installed "fzf"; then
	alias gf="git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
	alias gsa="git stash list --format='%C(yellow)%gd%Creset  %C(cyan)%cr%Creset  %s' | fzf | cut -d' ' -f1 | xargs -o git stash apply"
	alias gsd="git stash list --format='%C(yellow)%gd%Creset  %C(cyan)%cr%Creset  %s' | fzf | cut -d' ' -f1 | xargs -o git stash drop"
else
	alias gf="echo \"alias 'gf' is not setup as 'fzf' is not installed\""
	alias gsa="echo \"alias 'gsa' is not setup as 'fzf' is not installed\""
	alias gsd="echo \"alias 'gsd' is not setup as 'fzf' is not installed\""
fi

alias gspm="git stash push -m"
alias gsp="git stash pop"
alias gsl="git stash list --format='%C(yellow)%h%Creset  %C(cyan)%cr%Creset  %s'"
alias gss="git stash show"

if __is_pkg_installed "fzf"; then
	grf() {
		local sel

		sel=$(git show --name-only --pretty= HEAD | fzf --multi) || return
		[ -z "$sel" ] && return

		git reset --soft HEAD~1
		printf "%s\n" "$sel" | xargs git restore --staged
		git commit -c ORIG_HEAD --no-edit
	}
fi
